@model MyBlog.Models.PostDetailViewModel

<div class="section-block summary">
    <h1 class="section-title">@ViewBag.ListTitle</h1>
    <!--reward blocks-->
    <a asp-action="Detail" asp-controller="Home" asp-route-id="@Model.Post.PostId">
        <div class="reward-block d-flex">
            <div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="90" height="90" />
            </div>
            <div class="ms-2">
                <h5 class="text-truncate">@Model.Post.Title</h5>
                <p class="">@Model.Post.Scontent</p>
            </div>
        </div>
    </a>
</div>

