@{
    ViewData["Title"] = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h1>Admin</h1>
<a asp-area="Admin" asp-controller="Posts" asp-action="Create">Post</a>
<a asp-area="Admin" asp-controller="Posts" asp-action="Index">Manage</a>


