@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MyBlog.Models.Comment;
<link href="~/css/style.css" rel="stylesheet" />

<div class="main-content">
	<div class="container">
		<div class="row">
			<div class="content col-md-8 col-sm-12 col-xs-12">
				<div class="section-block">
					<div class="funding-meta">
						<h1>LAUNCH INTO SUCCESS</h1>
						<span class="type-meta"><i class="fa fa-user"></i> Jonathan Doe</span>
						<span class="type-meta"><i class="fa fa-tag"></i> <a href="#">crowdfunding</a>, <a href="#">launch</a> </span>
						<span class="type-meta"><i class="fa fa-regular fa-clock"></i> 2 days</span>
						<!--img src="assets/img/image-heartbeat.jpg" class="img-responsive" alt="launch HTML5 Crowdfunding"-->
						<div>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" style="margin-left:15%" width="70%" height=350px" alt="thumb">
						</div>
						<p>Launch will enable you be in run  your own crowdfunding campaign, and be in complete control from concept to crowdfunding to launch.
							Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet. Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.
							Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet. Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.
							Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet. Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.
							Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet. Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.
							Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet. Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.
							Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet. Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.
							Curabitur accumsan sem sed velit ultrices fermentum. Pellentesque rutrum mi nec ipsum elementum aliquet. Sed id vestibulum eros. Nullam nunc velit, viverra sed consequat ac, pulvinar in metus.
						</p>
						
					</div>
				</div>
				<!--comment-->

<section class="my-4">
  <div class="content col-md-12 col-sm-12 col-xs-12 text-dark">
    <div class="row d-flex justify-content-center">
      <div>
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-start w-100">
              <img class="profile-image me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="65" height="65" />
              <div class="w-100">
                <div class="d-flex" >
				<h5>Add a comment</h5>								         
                <ul class="rating mb-3 d-flex" style="list-style:none" data-mdb-toggle="rating">
                  <li>
                    <i class="far fa-star fa-sm text-danger" title="Bad"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-danger" title="Poor"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-danger" title="OK"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-danger" title="Good"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-danger" title="Excellent"></i>
                  </li>
                </ul>	
				</div>
                                                <form asp-controller="Comment" asp-action="Create" method="post">
                                                    <input type="hidden" asp-for="PostId" />
                                                    <div class="form-group" data-mdb-input-init>
                                                        <label class="form-label" for="Email">Email input</label>

                                                        <input type="email" id="Email" name="Email" class="form-control" asp-for="Email" />
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="form-group">
                                                        <label class="form-label" for="Content">What is your view?</label>

                                                        <textarea class="form-control" id="Content" rows="2" asp-for="Content"></textarea>
                                                        <div class="text-danger">@ViewBag.ErrorMessage</div>
                                                    </div>
                                                    <div class="d-flex justify-content-between mt-3">
                                                        <button type="button" class="btn btn-success" id="clearButton">Clear</button>
                                                        <button type="submit" class="btn btn-danger">
                                                            Comment<i class="fas fa-long-arrow-alt-right ms-1"></i>
                                                        </button>
                                                    </div>

                                                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

				<!--/ list comment-->
<section style="background-color: #FFF; overflow-y: scroll; height: 400px;">
  <div class="container card">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-dark">
          <div class="card-body p-4">
            <h4 class="mb-0">Recent comments</h4>
            <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>

            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Maggie Marsh</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    March 07, 2021
                  </p>
                </div>
                <p class="mb-0">
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s, when an unknown printer took a galley of type and
                  scrambled it.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Lara Stewart</h6>
                                               <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    March 07, 2021
                  </p>
                </div>
                <p class="mb-0">
                  Contrary to popular belief, Lorem Ipsum is not simply random text. It
                  has roots in a piece of classical Latin literature from 45 BC, making it
                  over 2000 years old. Richard McClintock, a Latin professor at
                  Hampden-Sydney College in Virginia, looked up one of the more obscure
                  Latin words, consectetur, from a Lorem Ipsum passage, and going through
                  the cites.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" style="height: 1px;" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(33).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Alexa Bennett</h6>
                                            <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    March 07, 2021
                  </p>
                </div>
                <p class="mb-0">
                  There are many variations of passages of Lorem Ipsum available, but the
                  majority have suffered alteration in some form, by injected humour, or
                  randomised words which don't look even slightly believable. If you are
                  going to use a passage of Lorem Ipsum, you need to be sure.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(24).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Betty Walker</h6>
                               <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    March 07, 2021
                  </p>
                </div>
                <p class="mb-0">
                  It uses a dictionary of over 200 Latin words, combined with a handful of
                  model sentence structures, to generate Lorem Ipsum which looks
                  reasonable. The generated Lorem Ipsum is therefore always free from
                  repetition, injected humour, or non-characteristic words etc.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
				<!--/comment-->
			</div>

			<!--/tabs-->
			<!--/main content-->
			<!--sidebar-->
			<div class="content col-md-4 col-sm-12 col-xs-12">
				<div class="section-block summary">
					<h1 class="section-title">RECENT POST</h1>
					<!--reward blocks-->
					<a href="">
					<div class="reward-block d-flex">
						<div>
							<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="90" height="90" />
						</div>
						<div>
							<h5>Early Bird</h5>
						<p>Curabitur accumsan sem sed velit ultrices fermentum.</p>	
						</div>			
					</div>
					</div>
				<div class="section-block">
					<h1 class="section-title">NEW FEED</h1>
					<!--reward blocks-->
					<a href="">
					<div class="reward-block d-flex">
						<div>
							<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="90" height="90" />
						</div>
						<div>
							<h5>Early Bird</h5>
						<p>Curabitur accumsan sem sed velit ultrices fermentum.</p>	
						</div>			
					</div>
						</a>
										
						<a href="">
							<div class="reward-block d-flex">
						<div>
							<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="90" height="90" />
						</div>
						<div>
							<h5>Early Bird</h5>
						<p>Curabitur accumsan sem sed velit ultrices fermentum.</p>	
						</div>			
					</div>
						</a>					
						
						<a href="">
							<div class="reward-block d-flex">
						<div>
							<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="90" height="90" />
						</div>
						<div>
							<h5>Early Bird</h5>
						<p>Curabitur accumsan sem sed velit ultrices fermentum.</p>	
						</div>			
					</div>
						</a>
					<!--/reward blocks-->
				</div>
									<div class="section-block">
						<h5 class="text-dark">Advertisement</h5>
					</div>
			</div>
			<!--/sidebar-->
		</div>
	</div>
</div>
<script>
  const clearButton = document.getElementById('clearButton');
  const emailInput = document.querySelector('input[name="email"]');
  const commentTextArea = document.getElementById('textAreaExample');

  clearButton.addEventListener('click', function (event) {
    event.preventDefault(); // Prevent form submission

    // Clear the form fields
    emailInput.value = '';
    commentTextArea.value = '';
  });
</script>