@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MyBlog.Models.Post
<link href="~/css/stylehome.css" rel="stylesheet" />
@* <link href="~/css/bootstrap.min.css" rel="stylesheet" />  *@
<link href="~/css/theme.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css" rel="stylesheet" />
@* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css"> *@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="mt-5">
    <section>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                    <div id="first-post" style="height:45px;width:730px"></div>
                </div>
            </div>
            @* popular post *@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div id="hot-posts"></div>

            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="left_content">
                    <div id="catTech-post"></div>

                    <div class="fashion_technology_area">
                        <div class="fashion">
                            <div id="category-post"></div>
                        </div>
                        <div class="technology">

                            <div id="category1-post"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <aside class="right_content">

                    <div id="recent-posts"></div> @* new feed *@
                    @* tablist *@
                    <div id="tag-comment"></div>
                    <div class="single_sidebar wow fadeInDown">
                        <h2><span>Sponsor</span></h2>
                        <a class="sideAdd" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/6/68/Logo_FPT_Education.png" alt=""></a>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <script>
        $('#hot-posts').load("/home/view"),
            $('#recent-posts').load("/home/recentPost"),
            $('#tag-comment').load("/home/tagComment"),
            $('#first-post').load("/home/carousel"),
            $('#category-post').load("/home/category"),
            $('#category1-post').load("/home/category"),
            $('#catTech-post').load("/home/categoryTech")
    </script>
    <script>
        $('.carousel').carousel(),
            $('.carousel').carousel({
                interval: 2000
            })
    </script>
}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>