
.latest_newsarea span {
    background: none repeat scroll 0 0 #F7F7F7
}
.latest_post > h2 span {
    background: none repeat scroll 0 0 #F7F7F7
}
#prev-button{color:#F7F7F7}
#next-button{color:#F7F7F7}
.single_post_content > h2 span {
    background: none repeat scroll 0 0 #F7F7F7
}
.single_sidebar > h2 span {
    background: none repeat scroll 0 0 #F7F7F7
}
.bsbig_fig figcaption a:hover {
    color: #F7F7F7
}
.spost_nav .media-body > a:hover{color:#F7F7F7}
.cat-item a:hover{background-color:#F7F7F7}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{background-color:#F7F7F7}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color:#F7F7F7}
.single_sidebar > ul > li a:hover {
    color: #F7F7F7
}
.footer_widget > h2:hover{color:#F7F7F7}
.tag_nav li a:hover{color:#F7F7F7; border-color:#F7F7F7}
.copyright a:hover{color:#F7F7F7}
.post_commentbox a:hover, .post_commentbox span:hover{color:#F7F7F7}
.breadcrumb{border-left:10px solid #F7F7F7}
.single_page_content ul li:before{background-color:#F7F7F7}
.single_page_content h2, .single_page_content h3, .single_page_content h4, .single_page_content h5, .single_page_content h6{color:#F7F7F7}
.nav-slit .icon-wrap{background-color:#F7F7F7}
.nav-slit h3{background:#F7F7F7}
.catgArchive{background-color:#F7F7F7}
.error_page > h3{color:#F7F7F7}
.error_page > span{background:none repeat scroll 0 0 #F7F7F7}
.error_page > a{background-color:#F7F7F7}
.contact_area > h2{background-color:#F7F7F7}
.contact_form input[type="submit"]{background-color:#F7F7F7}
.contact_form input[type="submit"]:hover{background-color:#fff; color:#F7F7F7}
.related_post > h2 i{color:#F7F7F7}
.form-control:focus{border-color:#F7F7F7;  box-shadow:0 0px 1px #F7F7F7 inset,0 0 5px #F7F7F7}